<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.zju.id21732102.qiufeng">
    <!--<provider android:name=".data.PetProvider" android:authorities="com.example.android.petsretry.data" android:exported="false"/>-->

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.example.mycontentprovider.permRead" />
    <permission
        android:name="com.example.mycontentprovider.permRead"
        android:protectionLevel="signature" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="邱锋"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FileWriteActivity"
            android:label="文件测试" />
        <activity
            android:name=".SettingsActivity"
            android:label="选项设置" />
        <activity
            android:name=".StatusActivity"
            android:label="发布微博">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
            <!-- <intent-filter> -->
            <!-- <action android:name="cn.zju.id56781234.tweet" /> -->


            <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".CalcActivity"
            android:label="计算器">
        </activity>
        <activity
            android:name=".HelloActivity"
            android:label="QiuFeng"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".UpdateService"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".MusicActivity"
            android:label="音乐列表">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>


    </application>

</manifest>